In [1]:
import pandas as pd
import numpy as np
import datetime
import time
from bs4 import BeautifulSoup
import re

In [11]:
! python convert_json_to_csv.py Data/yelp_dataset/user.json

In [12]:
user_data = pd.read_csv('Data/yelp_dataset/user.csv')

In [13]:
user_data.shape

(1637138, 22)

In [14]:
user_data.head()

,funny,compliment_photos,user_id,compliment_profile,fans,cool,review_count,compliment_funny,compliment_note,elite,...,friends,compliment_list,compliment_plain,average_stars,useful,compliment_cute,compliment_cool,compliment_writer,name,compliment_more
0,17,0,b'l6BmjZMeQD3rDxWUbiAiow',0,5,25,95,1,1,"b'2015,2016,2017'",...,"b'c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz...",0,1,4.03,84,0,1,2,b'Rashmi',0
1,22,0,b'4XChL029mKr5hydo79Ljxg',0,4,16,33,1,0,b'',...,"b'kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGT...",0,0,3.63,48,0,1,0,b'Jenna',0
2,8,0,b'bc8C_eETBWL0olvFSJJd0w',0,0,10,16,0,1,b'',...,"b'4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzM...",0,0,3.71,28,0,0,0,b'David',0
3,4,0,b'dD0gZpBctWGdWo9WlGuhlA',0,5,14,17,0,0,b'',...,"b'RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN...",0,2,4.85,30,0,0,1,b'Angela',0
4,279,5,b'MM4RJAeH6yuaN8oZDSt0RA',0,39,665,361,80,16,"b'2015,2016,2017,2018'",...,"b'mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6D...",1,57,4.08,1114,0,80,25,b'Nancy',1

In [15]:
user_data.columns

Index(['funny', 'compliment_photos', 'user_id', 'compliment_profile', 'fans',
       'cool', 'review_count', 'compliment_funny', 'compliment_note', 'elite',
       'compliment_hot', 'yelping_since', 'friends', 'compliment_list',
       'compliment_plain', 'average_stars', 'useful', 'compliment_cute',
       'compliment_cool', 'compliment_writer', 'name', 'compliment_more'],
      dtype='object')

In [17]:
user_data.name[1:10]

1      b'Jenna'
2      b'David'
3     b'Angela'
4      b'Nancy'
5    b'Marilyn'
6      b'Keane'
7      b'Andre'
8      b'Tanya'
9      b'Trace'
Name: name, dtype: object

In [22]:
print ("Number of unique name: ",len(set(user_data.name)))
print ("Number of unique user_id: ", user_data.shape[0])

Number of unique name:  124917
Number of unique user_id:  1637138