In [4]:
import pandas as pd
import numpy as np
import datetime
import time
from bs4 import BeautifulSoup
import re
import json

## Convert to CSV file then read in Pandas

In [11]:
! python convert_json_to_csv.py Data/yelp_dataset/user.json

In [12]:
user_data = pd.read_csv('Data/yelp_dataset/user.csv')

In [13]:
user_data.shape

(1637138, 22)

In [14]:
user_data.head()

,funny,compliment_photos,user_id,compliment_profile,fans,cool,review_count,compliment_funny,compliment_note,elite,...,friends,compliment_list,compliment_plain,average_stars,useful,compliment_cute,compliment_cool,compliment_writer,name,compliment_more
0,17,0,b'l6BmjZMeQD3rDxWUbiAiow',0,5,25,95,1,1,"b'2015,2016,2017'",...,"b'c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz...",0,1,4.03,84,0,1,2,b'Rashmi',0
1,22,0,b'4XChL029mKr5hydo79Ljxg',0,4,16,33,1,0,b'',...,"b'kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGT...",0,0,3.63,48,0,1,0,b'Jenna',0
2,8,0,b'bc8C_eETBWL0olvFSJJd0w',0,0,10,16,0,1,b'',...,"b'4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzM...",0,0,3.71,28,0,0,0,b'David',0
3,4,0,b'dD0gZpBctWGdWo9WlGuhlA',0,5,14,17,0,0,b'',...,"b'RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN...",0,2,4.85,30,0,0,1,b'Angela',0
4,279,5,b'MM4RJAeH6yuaN8oZDSt0RA',0,39,665,361,80,16,"b'2015,2016,2017,2018'",...,"b'mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6D...",1,57,4.08,1114,0,80,25,b'Nancy',1

In [15]:
user_data.columns

Index(['funny', 'compliment_photos', 'user_id', 'compliment_profile', 'fans',
       'cool', 'review_count', 'compliment_funny', 'compliment_note', 'elite',
       'compliment_hot', 'yelping_since', 'friends', 'compliment_list',
       'compliment_plain', 'average_stars', 'useful', 'compliment_cute',
       'compliment_cool', 'compliment_writer', 'name', 'compliment_more'],
      dtype='object')

In [17]:
user_data.name[1:10]

1      b'Jenna'
2      b'David'
3     b'Angela'
4      b'Nancy'
5    b'Marilyn'
6      b'Keane'
7      b'Andre'
8      b'Tanya'
9      b'Trace'
Name: name, dtype: object

In [22]:
print ("Number of unique name: ",len(set(user_data.name)))
print ("Number of unique user_id: ", user_data.shape[0])

Number of unique name:  124917
Number of unique user_id:  1637138

## Read JSON directly to Pandas

In [6]:
business_data = []
with open('Data/yelp_dataset/business.json') as fin:
    for line in fin:
        line_contents = json.loads(line)
        business_data.append(line_contents)

In [9]:
business_df = pd.DataFrame(business_data)

In [10]:
business_df.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC